<section class="flex flex-col w-full overflow-hidden">
  <div class="flex items-center justify-center w-full flex-col bg-transparent mt-12 backdrop-blur-sm">
    <h1 class="default_title">Skill Cards</h1>
    <p class="default_text text-center mx-2">{{lang.tech_skills.subtitle}}</p>
  </div>

  <nb-tabset class="generic_tabset mt-14" [scrollLeft]="false" [scrollTop]="false">
    <nb-tab class="tab" [scrollLeft]="false" [scrollTop]="false" tabTitle="Back">
      <app-skill-cards [skill_area]="back_skills"></app-skill-cards>
    </nb-tab>
    <nb-tab class="tab" [scrollLeft]="false" [scrollTop]="false" tabTitle="front">
      <app-skill-cards [skill_area]="front_skills"></app-skill-cards>
    </nb-tab>
    <nb-tab class="tab" [scrollLeft]="false" [scrollTop]="false" tabTitle="extras">
      <app-skill-cards [skill_area]="extra_skills"></app-skill-cards>
    </nb-tab>
  </nb-tabset>
</section>
