<section class="flex w-full justify-center items-center overflow-hidden">
  <div class="flex flex-row flex-wrap justify-center items-center mt-20">
    <div *ngFor="let skill of skills">
    <nb-card
      *ngIf="skill.skill_area == skill_area ? true : false"
      class="skill_card animate-slideUp"
      [scrollLeft]="false"
    >
      <nb-card-header class="">
        <div class="skill_card_header {{resizeCard ? '-top-14' : 'min-[600px]:pb-6' }}">
          <svg-icon
            [src]="skill.image"
            [svgStyle]="{'max-width.px': 164, 'max-height.px': 164}"
            *ngIf="resizeCard"
          ></svg-icon>
          <h2 class="skill_card_title">{{skill.title}}</h2>
        </div>
      </nb-card-header>
      <nb-card-body class="skill_card_body">
        <svg-icon
            [src]="skill.image"
            [svgStyle]="{'max-width.px': 164, 'max-height.px': 164}"
            *ngIf="!resizeCard"
          ></svg-icon>
        <span [innerHTML]="skill.description"></span>
      </nb-card-body>
    </nb-card>
    </div>
  </div>
</section>
