<section class="flex w-full justify-center items-center">
  <div class="flex flex-col flex-wrap justify-evenly items-center mt-20">
    <nb-card class="max-w-[312px] rounded-2xl pb-5 px-5 pt-0 bg_glass border border-white">
      <nb-card-header class="">
        <div class="relative -top-14 flex flex-col items-center default_title text-2xl">
          <svg-icon
            src="../../../../assets/sections-images/tecnologies-imgs/cards/notebook.svg"
            [svgStyle]="{'max-width.px': 164}"
          ></svg-icon>
          <h2 >Lógica de programação</h2>
        </div>
      </nb-card-header>
      <nb-card-body class="text-right mb-8">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Molestias, ratione suscipit. Nesciunt quisquam velit
          recusandae tempora voluptatem praesentium officia
          reprehenderit unde. Eaque nisi dolores odio officiis
          nemo ut libero earum.
        </p>
      </nb-card-body>
    </nb-card>

  </div>
</section>
