<section class="flex flex-col w-full">
  <div class="flex items-center justify-center w-full flex-col bg-transparent mt-12 backdrop-blur-sm">
    <h1 class="default_title">Projetos</h1>
    <p class="default_text text-center">Esses são os projetos que participei ou desenvolvi ao longo da minha carreira.</p>
  </div>

  <div class="timeline">
    <ul class="timeline-ul">
      <li class="timeline-ul-li">
        <nb-card class="project">
          <nb-card-header class="project-header">
            <svg-icon
              [src]="'../../../assets/sections-images/projects-imgs/pokedex.svg'"
              [svgStyle]="{'width':  '100%', 'height': 'fit-content', 'margin.px': 0}"
            ></svg-icon>
          </nb-card-header>
          <nb-card-body class="project-body">
            <h2>Pokedex</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Dolorum quibusdam fugiat commodi iure aspernatur pariatur,
              mollitia ad a excepturi similique officiis accusamus hic
              impedit illo reprehenderit reiciendis? Fuga, cum expedita?
            </p>
          </nb-card-body>
          <nb-card-footer class="project-footer">
            <a>site</a>
            <a>gitHub</a>
           </nb-card-footer>
        </nb-card>
      </li>

      <li class="timeline-ul-li">
        <nb-card class="project">
          <nb-card-header class="project-header">
            <svg-icon
              [src]="'../../../assets/sections-images/projects-imgs/pokedex.svg'"
              [svgStyle]="{'width':  '100%', 'height': 'fit-content', 'margin.px': 0}"
            ></svg-icon>
          </nb-card-header>
          <nb-card-body class="project-body">
            <h2>Pokedex</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Dolorum quibusdam fugiat commodi iure aspernatur pariatur,
              mollitia ad a excepturi similique officiis accusamus hic
              impedit illo reprehenderit reiciendis? Fuga, cum expedita?
            </p>
          </nb-card-body>
          <nb-card-footer class="project-footer">
            <a>site</a>
            <a>gitHub</a>
           </nb-card-footer>
        </nb-card>
      </li>
    </ul>
  </div>

</section>
