

<section class="flex flex-col w-screen">
  <div class="flex items-center justify-center w-full flex-col bg-transparent mt-12 backdrop-blur-sm">
    <h1 class="default_title">Projetos</h1>
    <p class="default_text text-center">Esses são os projetos que participei ou desenvolvi ao longo da minha carreira.</p>
  </div>

  <div class="timeline">
    <ul class="timeline-ul">
      <li class="timeline-ul-li" *ngFor="let project of projects">
        <nb-card class="project animate-slideUp">
          <nb-card-header class="flex items-center justify-center h-[172.5px]">
            <img
              [src]="project.image"
              alt="project image"
              class="w-full h-fit m-0 rounded-md"
            />
          </nb-card-header>
          <nb-card-body class="project-body">
            <h2>{{project.title}} - {{project.year}}</h2>
            <p>
              {{project.description}}
            </p>
          </nb-card-body>
          <nb-card-footer class="project-footer">
            <button
              (click)="redirectTo(project.project_url)"
              [disabled]="!project.deployed"
            >
              <span>
                site <br/>
                {{project.deployed ? project.project_url : 'coming soon'}}
              </span>
              <ng-icon size="30px" name="heroCodeBracket"></ng-icon>
            </button>
            <button
              (click)="redirectTo(project.project_git_url)"
              [disabled]="project.isPrivate"
            >
              <span>
                {{project.isPrivate ? 'This project is private' : 'View on GitHub'}}
              </span><br>
              <ng-icon size="30px" name="octMarkGithub" ></ng-icon>
            </button>
           </nb-card-footer>
        </nb-card>
      </li>
    </ul>
  </div>

</section>
