<section class="flex flex-col w-full items-center justify-center">
  <div class="flex flex-col items-center justify-evenly w-full transition-all ease-in-out">

    <div ngClass="flex w-full flex-col justify-center items-center pb-5 pt-11 transition-transform duration-500 {{!visibility ? 'ease-in-out bg_glass' : ''}}">

      <div class="relative flex w-fit items-center flex-col transition-all duration-500 {{!visibility ? 'h-[0px] delay-100 ease-out' : 'h-[188px] ease-in'}}">
        <div ngClass="flex relative justify-center items-center w-fit rounded-full transition-all duration-150 {{!visibility ? 'opacity-0 ease-in delay-0 h-0 after:hidden' : 'opacity-100 mb-4 p-0.5 w-36 h-36 ease-out delay-500'}}">
          <img class="relative w-[144px] h-[144px] rounded-full" alt="me" *ngIf="visibility" src="assets/me.jpeg"/>
        </div>

        <div>
          <p ngClass="relative default_text font-semibold text-light-text transition-all duration-150 {{!visibility ? 'opacity-0 ease-in delay-0 h-0' : 'opacity-100 ease-out delay-500 animation_style_typing'}}">
            {{language.header.greeting}}
          </p>
        </div>
    </div>

      <div class="flex flex-row justify-evenly w-72 p-5">
        <svg-icon
          class="social_icons"
          *ngFor="let social of socialMidiaLinks"
          (click)="navigate(social.link)"
          [src]="social.image"
        />
      </div>

      <nav>
        <div class="generic_tabset">
          <button
            class="btn_theme"
            [ngClass]="{'tab active' : btn.id === currentTab}"
            *ngFor="let btn of btn_contents"
            (click)="changeTab(btn.id)"
          >
            {{btn.btn}}
          </button>
        </div>
      </nav>
    </div>

    <div
      class="generic_tabset"
    >
      <main
        class="tab"
        [ngSwitch]="currentTab"
      >
        <app-about-me *ngSwitchCase="TabsEnum.about"></app-about-me>
        <app-tecnologies *ngSwitchCase="TabsEnum.tecnologies"></app-tecnologies>
        <app-projects *ngSwitchCase="TabsEnum.projects"></app-projects>
      </main>
    </div>
  </div>
</section>
