<section class="flex flex-col w-full items-center justify-center">
  <div class="flex flex-col items-center justify-evenly transition-all ease-in-out">

    <div class="flex w-full flex-col justify-center items-center transition-all ease-in-out duration-700   {{!visibility ? '-mt-5 -mb-16 delay-100 bg-[#0000004D] h-52' : 'h-[276px] mt-14'}}">
    <div class="flex relative justify-center items-center w-36 h-36 rounded-full mb-4 p-0.5 " *ngIf="visibility" >
      <img class="w-full rounded-full" src="assets/me.jpeg"/>
    </div>

    <div>
      <p class="relative default_text animation_style_typing" *ngIf="visibility">
        {{language.header.saudation}}
      </p>
    </div>

    <div class="flex flex-row justify-evenly w-72 p-5">
      <svg-icon
        class="social_icons"
        *ngFor="let social of socialMidiaLinks"
        (click)="navigate(social.link)"
        [src]="social.image"
      />
    </div>
    </div>

    <nb-tabset class="generic_tabset" (changeTab)="hideElements($event)" [scrollLeft]="false" [scrollTop]="false">
      <nb-tab [tabTitle]="this.language.header.sections_btn.about_me" [scrollLeft]="false" [scrollTop]="false" class="tab">
        <app-about-me></app-about-me>
      </nb-tab>
      <nb-tab [tabTitle]="this.language.header.sections_btn.tecnologies" [scrollLeft]="false" [scrollTop]="false" class="tab">
        <app-tecnologies></app-tecnologies>
      </nb-tab>
      <nb-tab [tabTitle]="this.language.header.sections_btn.projects" [scrollLeft]="false" [scrollTop]="false" class="tab">
        <app-projects></app-projects>
      </nb-tab>
    </nb-tabset>
  </div>
</section>
