@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  /* formatação padrão de texto */
  .default_text {
    @apply text-dark-text font-ubuntu text-lg md:text-xl;
  }

  .default_title {
    @apply text-dark-text font-ubuntu text-3xl font-thin;
  }

  /* animação de digitação para textos */
  .animation_style_typing {
    @apply whitespace-nowrap overflow-hidden w-full animate-typing;
  }

  .animation_style_typing_without_border {
    @apply whitespace-nowrap overflow-hidden w-full animate-typing-no-border;
  }

  /* estilo padrão para ícones de redes sociais */
  .social_icons {
    @apply
      flex
      items-center
      justify-center
      w-12
      h-12
      p-2
      rounded-full
      border-transparent
      cursor-pointer

      /* tema light  */
      bg-light-icon_bg
      fill-light-icon_color

      /* tema dark  */
      dark:fill-dark-icon_color
      dark:bg-dark-icon_bg

      transition-all
      ease-in-out
      hover:translate-y-2
      hover:scale-125
      hover:bg_theme;
  }

  .social_icons svg {
    @apply hover:animate-rotate;
  }

   /* degradê tema */
   .bg_theme {
    @apply
      bg-red-600
      dark:bg-indigo-600
    ;
  }

  .bg_glass {
    @apply
    border
    border-[#00000033]
    dark:border-[#C0C0C044]
    bg-transparent
    bg-gradient-to-br dark:from-[#C0C0C00D] from-[#0000000D] dark:via-[#C0C0C033] via-[#00000033] dark:to-[#C0C0C00D] to-[#0000000D]
    backdrop-blur-sm;
  }

  /* estilo padrão de botões */
  .btn_theme {
    @apply
      rounded-sm
      px-2
      py-1
      font-ubuntu
      m-2
      w-full
      text-center
      font-medium
      whitespace-nowrap

      /* tema light */
      bg-light-btn_bg
      text-light-btn_text

      /* tema dark  */
      dark:bg-dark-btn_bg
      dark:text-dark-btn_text

      /* responsividade min 769px */
      md:w-40

      /* hover */
      transition-all
      ease-in-out
      hover:bg_theme
      active:translate-y-1
      /* active:text-white */
      /* hover:text-white */
      hover:cursor-pointer;
  }

  /* estilização ng select */
  .select {
    @apply
      bg-transparent
      w-36
      py-1
      px-3
      my-1
      mr-4
      font-ubuntu

      /* tema light */
      text-light-text

      /* tema dark  */
      dark:text-dark-text;
  }

  .select ng-dropdown-panel {
    @apply
      rounded-sm
      mt-2 -left-[0.3px]

      /* tema light */
      bg-light-bg
      text-light-text

      /* tema dark  */
      dark:bg-dark-btn_bg
      dark:text-dark-text;

  }

  .select ng-dropdown-panel div.ng-dropdown-panel-items div div.ng-option {
    @apply w-full py-2 px-2 hover:bg_theme;
  }

  /* tab */
  .generic_tabset {
    @apply
      flex
      /* flex-col */
      items-center
      justify-center
      /* w-fit */
      default_text
      /* mx-auto */
    ;
  }

  .generic_tabset ul:not(.timeline-ul) {
    @apply
      flex
      w-screen
      items-center
      justify-center
    ;
  }

  .generic_tabset li:not(.timeline-ul-li) {
    @apply
      flex
      items-center
      justify-center
      btn_theme
    ;
  }

  .tab {
    @apply
      /* flex */
      overflow-hidden
      transition-all
    ;
  }

  .tab.active {
    @apply
      bg-gradient-to-br dark:from-indigo-600 from-red-600 dark:to-indigo-600 to-red-600
      overflow-hidden
    ;
  }

  /* Cards */
  .skill_card {
    @apply
      max-w-[312px]
      rounded-2xl
      pb-5
      px-5
      min-[600px]:p-5
      pt-0
      bg_glass
      my-10
      min-[600px]:m-5
      min-[600px]:max-w-[608px];
  }

  .skill_card_header {
    @apply
      relative
      flex
      flex-col
      items-center
      default_title text-2xl;
  }

  .skill_card_title {
    @apply
      mt-2
      min-[600px]:m-0
    ;
  }

  .skill_card_body {
    @apply
      text-right
      mb-8
      min-[600px]:flex
      min-[600px]:flex-row;
  }

  /* timeline da aba projetos */
  .timeline {
    @apply
      relative
      mt-4
      mx-auto
      /* ml-5 */
      w-full
      py-16
      pl-2
      md:px-0

      /* before:flex */
      before:absolute
      /* before:left-3 */
      md:before:left-1/2
      before:w-[2px]
      before:h-full
      before:bg-white

    ;
  }

  .timeline-ul {
    @apply
      m-0
      p-0
    ;
  }

  .timeline-ul-li {
    @apply
      list-none
      relative
      w-full
      md:w-1/2
      py-[20px]
      px-[20px]
      md:px-[40px]
      box-border
    ;
  }

  .timeline-ul-li:nth-child(odd) {
    @apply
      md:float-left
      float-right
      md:text-right
      text-left
      clear-both
      flex
      md:justify-end
      justify-center


      before:absolute
      before:w-[10px]
      before:h-[10px]
      before:bg-white
      before:rounded-full
      before:shadow-lg
      before:top-[24px]
      before:-left-1
      md:before:left-[99.5%]

      /* md:before:-right-[6px] */
    ;
  }

  .timeline-ul-li:nth-child(even) {
    @apply
      float-right
      text-left
      clear-both
      flex
      md:justify-start
      justify-center

      before:absolute
      before:w-[10px]
      before:h-[10px]
      before:bg-white
      before:rounded-full
      before:shadow-lg
      before:top-[24px]
      before:-left-1
      md:before:-left-[4px]
    ;
  }

  .project {
    @apply
      relative
      w-full
      /* md:w-2/3 */
      max-w-[450px]
      bg_glass
      py-4
      px-4
      md:px-8
      rounded-[5px]
      /* m-auto */

      /* animate-slideUp */
    ;
  }

  .project-body {
    @apply
      my-10
    ;
  }

  .project-body h2 {
    @apply
      text-2xl
      my-3
    ;
  }

  .project-footer a {
    @apply
      flex
      flex-row
      justify-between
      items-center
      text-left
      py-2
      px-4
      w-full
      bg-transparent
      border
      border-white
      rounded-[5px]
      my-5
      h-[89px]

      transition-all
      duration-300
      cursor-pointer
      hover:bg_glass
    ;
  }

  .project-footer a span {
    @apply
      overflow-hidden
      text-ellipsis
      text-base
      whitespace-nowrap
      max-w-[300px]
    ;
  }

}
