@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  /* formatação padrão de texto */
  .default_text {
    @apply text-light-text dark:text-dark-text font-ubuntu text-xl;
  }

  .default_title {
    @apply text-light-text dark:text-dark-text font-ubuntu text-3xl font-thin;
  }

  /* animação de digitação para textos */
  .animation_style_typing {
    @apply whitespace-nowrap overflow-hidden w-full animate-typing;
  }

  .animation_style_typing_without_border {
    @apply whitespace-nowrap overflow-hidden w-full animate-typing-no-border;
  }

  /* estilo padrão para ícones de redes sociais */
  .social_icons {
    @apply
      flex
      items-center
      justify-center
      w-12
      h-12
      p-2
      rounded-full
      border-transparent
      cursor-pointer

      /* tema light  */
      bg-light-icon_bg
      fill-light-icon_color

      /* tema dark  */
      dark:fill-dark-icon_color
      dark:bg-dark-icon_bg

      hover:transition-all
      hover:ease-in-out
      hover:translate-y-2
      hover:scale-125
      hover:bg_theme;
  }

  .social_icons svg {
    @apply hover:animate-rotate;
  }

   /* degradê tema */
   .bg_theme {
    @apply bg-gradient-to-br from-indigo-600 via-fuchsia-600 to-pink-600;
  }

  /* estilo padrão de botões */
  .btn_theme {
    @apply
      rounded-sm
      px-2
      py-1
      font-ubuntu
      m-2
      w-full
      text-center
      font-medium

      /* tema light */
      bg-light-btn_bg
      text-light-btn_text

      /* tema dark  */
      dark:bg-dark-btn_bg
      dark:text-dark-btn_text

      /* responsividade min 769px */
      md:w-40

      /* hover */
      hover:transition-all
      hover:bg_theme
      hover:ease-in-out
      hover:translate-y-1
      hover:text-white
      hover:cursor-pointer;
  }

  /* estilização ng select */
  .select {
    @apply
      bg-transparent
      w-36
      py-1
      px-3
      my-1
      mr-4
      font-ubuntu

      /* tema light */
      text-light-text

      /* tema dark  */
      dark:text-dark-text;
  }

  .select ng-dropdown-panel {
    @apply
      rounded-sm
      mt-2 -left-[0.3px]

      /* tema light */
      bg-light-bg
      text-light-text

      /* tema dark  */
      dark:bg-dark-btn_text
      dark:text-dark-text;

  }

  .select ng-dropdown-panel div.ng-dropdown-panel-items div div.ng-option {
    @apply w-full py-2 px-2 hover:bg_theme;
  }

}
